//$scrollbarTrackColor: yellow;
//$scrollbarThumbColor: green;
$scrollbarWidth: 5px;

//$primaryColor: #2196F3;

$themes: (
    null: (
        bodyBg: #FFFFFF,
        bodyColor: #000000,
        headerBg: #CCCCCC,
        headerColor: #000000,
        footerBg: #CCCCCC,
        footerColor: #000000,
        textColor: #000000,
        scrollbarThumbColor: green,
        scrollbarTrackColor: yellow,
        scrollbarTrackHoverColor: yellow,

    ),
    dark: (
        bodyBg: #000000,
        bodyColor: #FFFFFF,
        headerBg: #CCCCCC,
        headerColor: #FFFFFF,
        footerBg: #CCCCCC,
        footerColor: #FFFFFF,
        textColor: #FFFFFF,
        scrollbarThumbColor: red,
        scrollbarTrackColor: blue,
        scrollbarTrackHoverColor: blue,
    ),
);

