// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;

    --header-bg: #FFFFFF;
}

.theme-light {
    --color-primary: dodgerblue;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;

    --header-bg: #FFFFFF;
}

.theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;

    --header-bg: #FFFFFF;
}
