.header {
    height: 70px;
    background: var(--header-bg);
    border-bottom: solid 1px var(--color-primary);
    box-shadow: 0px 0px 5px var(--color-primary);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    &__logo {
        svg {
            max-height: 70px;
            margin: -10px 5px;

            text {
                font-size: 30px;
                font-weight: 900;
                color: blue;
            }
        }
    }
}

nav {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;

    .hamburger {
        width: 50px;
        border: 0;
        background: transparent;
        cursor: pointer;

        &:before, &:after, div {
            content: "";
            background: var(--color-primary);
            display: block;
            height: 5px;
            margin: 7px 0;
            border-radius: 3px;
            transition: 0.5s;
        }

        &[area-expanded=true] {
            &:before {
                transform: translateY(12px) rotate(135deg);
            }

            &:after {
                transform: translateY(-12px) rotate(-135deg);
            }

            div {
                transform: scale(0);
            }
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0;
        flex: 1;
    }
}
